option_settings:
    aws:elb:listener:443:
        SSLCertificateId: arn:aws:acm:us-east-1:836165724612:certificate/52ec1861-26b2-48a5-aa50-c2e771593ad4
        ListenerProtocol: HTTPS
        InstancePort: 80
    aws:elb:listener:80:
        ListenerProtocol: HTTP
        InstancePort: 8080
        InstanceProtocol: HTTP
    aws:elb:listener:
        ListenerEnabled: true