option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
    NODE_ENV: production
    DB_HOST: habitat-hq-xv3se.mongodb.net
    DB_NAME: habitat
    DB_USER: hapi
    HOST: habitat-ebenv-prd-eastus.ftpgwdppb3.us-east-1.elasticbeanstalk.com